*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#ffd1dc,#ffe6f0);
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:#fff;
  padding:20px;
  border-radius:20px;
  text-align:center;
  width:90%;
  max-width:420px;
  height: 300px;
  min-height: 620px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  position:relative;
}

h1{
  color:#e91e63;
  margin-bottom:20px;
  padding-top: 80px;
}

button{
  padding:12px 22px;
  border:none;
  border-radius:30px;
  background:#ff5fa2;
  color:white;
  font-size:16px;
  cursor:pointer;
  margin:10px;
  position:relative;
  overflow:hidden;
}

.back{
  background:#d47596;
}

/* STATIC STICKER */
.bottom-sticker{
  position:absolute;
  bottom:60px;
  right: 60px;
  width:70%;
  height:200px;
  border-radius: 30px;
}
.bottom-right{
  bottom: 12px;
  left: 12px;
  height: 100px;
}

/* grid */
.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  max-width:300px;
  margin:auto;
  padding-top: 60px;
}

.grid img{
  width:100%;
  aspect-ratio:1/1;
  object-fit:cover;
  border-radius:12px;
  transition:0.3s;
}

.grid img:hover{
  transform:scale(1.08);
}

/* letter scroll */
.letter-box{
  border:2px dashed pink;
  padding:20px;
  border-radius:15px;
  max-height:500px;
  overflow-y:auto;
  text-align:justify;
  line-height:1.6;
  position: relative;
  padding-bottom: 90px;
}
.letter-sticker{
  width: 100%;
  text-align: right;
  margin-top: 30px;
}
.letter-sticker img{
  width: 80px;
}
.caption-text{
  font-size: 24px;
  font-weight: bold;
  color: deeppink;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}